.wallet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #f0f0f0;
  background-color: white;
  min-height: 60px;
}

.wallet__card {
  min-width: 100px;
  height: 40px;
  background-color: #1890ff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: normal;
}
