.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.history__operation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
