.converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background: #fff;
  min-height: 400px;
}

.converter__swap-button {
  border: none;
}

.converter__exchange-button {
  margin-left: 8px;
}

.converter__result {
  margin-top: 50px;
  display: flex;
  min-height: 40px;
  justify-content: center;
}

.converter__input {
  margin-left: -2px;
  width: 240px;
}
